*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
        width: 100%;
            background-color: ffff;
}
#nav1{
    height: 110px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 2%;
}
#visual{
    font-family: Arial, Helvetica, sans-serif;
}
#nav2{
    height: 110px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    font-size: 22px;
    position: absolute;
    top: 5.5%;
    left: 25%;
}
#smline{
    height: 2px;
    width: 26px;
    background-color: black;
    position: absolute;
    top: 37%;
    left: -8%;
}
#llya{
    font-family: Arial, Helvetica, sans-serif;
}
#nav3{
    height: 110px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 56.7%;
}
#about{
    font-family: Arial, Helvetica, sans-serif;
}
#nav4{
    height: 110px;
    width: 10%;
    display: flex;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 68%;
}
#work{
    font-family: Arial, Helvetica, sans-serif;
}
#nav5{
    height: 110px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 72.7%;
}
#store{
    font-family: Arial, Helvetica, sans-serif;
}
#nav6{
    height: 110px;
    width: 12.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    position: absolute;
    top: 4%;
    left: 83.5%;
}
#let{
    font-family: Arial, Helvetica, sans-serif;
}
.ri-arrow-right-up-line{
    font-size: 35px; 
}
#hello{
    height: 30px;
    width: 15%;
    position: absolute;
    top: 33%;
    left: 4%;
}
#hellotxt{
    font-size: 35px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#bigtxt{
    position: absolute;
    bottom: 6%;
    left: 5%;
    font-size: 80px;
}
#txt{

    letter-spacing: -8px;
    word-spacing: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#case{
    height: 10px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 120%;
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;

}
.B{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10O;
    font-size: 25PX;
}
.A{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10O;
    font-size: 25PX;
}
#line2{
    height: 3px;
    width: 120px;
    background-color: #000000;
    position: absolute;
    top: 123%;
    right: 15%;
}
#img1{
    position: absolute;
    top: 130%;
    left: 12%;
    height: 670px;
    width: 620px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
    
}
#img2{
    position: absolute;
    top: 130%;
    right: 12%;
    height: 670px;
    width: 620px;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
}
#sketch{
    height: 120px;
    width: 36%;
    position: absolute;
    top: 201%;
    left: 13%;
}
.ss{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.cc{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    opacity: 50%;
}
#arrow1{
    position: absolute;
    top: 1%;
    right: 0%;
    height: 90px;
    width: 110px;
    display: flex;
    justify-content: center;
    padding-top: 3.5%;
    font-size: 43px;
    border-radius: 40px;
    border: 2px solid black; 
}
#arrow1:hover{
    background-color: #000000;
    color: #ffffff;
}
#frame{
    height: 100px;
    width: 36%;
    position: absolute;
    top: 201%;
    right: 12%;
}
.ff{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.uu{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    opacity: 50%;
}
#arrow2{
    position: absolute;
    top: 1%;
    right: 0%;
    height: 90px;
    width: 110px;
    display: flex;
    justify-content: center;
    padding-top: 3.5%;
    font-size: 43px;
    border-radius: 40px;
    border: 2px solid black;
}
#arrow2:hover{
    background-color: #000000;
    color: #ffffff;
}